.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.app-header {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-stack {
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 16px;
  color: var(--primary);
}

.app-title {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.2;
}

.app-main {
  width: 100%;
  max-width: 1400px;
  margin: 6rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
}

.history-aside {
  padding: 1.5rem;
  height: fit-content;
  max-height: calc(100vh - 10rem);
  min-height: 500px;
}

@media (min-width: 900px) {
  .app-main {
    grid-template-columns: 2fr 1.2fr;
  }
}